<!DOCTYPE html>
<!--[if IE 7]><html class="ie7"> <![endif]-->
<!--[if gt IE 7]><!--><html> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="/assets/js/vendor/html5shiv.js"></script>

    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lato:700|Open+Sans'>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />

    {{ghost_head}}
</head>
<body class="{{body_class}}">

    <div class="header">
        <div class="vertical-middle spacing text-centered">
            {{#if @blog.logo}}<a href="{{@blog.url}}" class="link-unstyled"><img src="{{@blog.logo}}" alt="Blog Logo" class="header-logo" /></a>{{/if}}
            <h1>{{@blog.title}}</h1>
            <h3>{{@blog.description}}</h3>
        </div>
    </div>

    <div class="content">
    {{{body}}}
    </div>

    <div class="footer text-centered">
        <div class="footer-social">
            <a href="{{@blog.url}}/rss/" class="icon icon-rss"><!--[if IE 7]>RSS<![endif]--></a>
            <a href="http://twitter.com" class="icon icon-twitter"><!--[if IE 7]>Twitter<![endif]--></a>
            <a href="http://github.com" class="icon icon-github"><!--[if IE 7]>Github<![endif]--></a>
        </div>

        <a href="https://github.com/peterkeating/macey">Macey</a> theme for <a href="http://ghost.org">Ghost</a>.
    </div>

    <!--
    No need for jQuery just yet...
    {{ghost_foot}}
    -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <!-- Source: https://github.com/h5bp/html5-boilerplate -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
</body>
</html>
