<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lato:700|Open+Sans'>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />

    {{ghost_head}}
</head>
<body class="{{body_class}}">

    <div class="header">
        <div class="vertical-middle text-centered">
            {{#if @blog.logo}}<a href="{{@blog.url}}" class="link-unstyled"><img src="{{@blog.logo}}" alt="Blog Logo" class="header-logo" /></a>{{/if}}
            <h1>{{@blog.title}}</h1>
            <h3>{{@blog.description}}</h3>
        </div>
    </div>

    <div class="content">
    {{{body}}}
    </div>

    <!--
    No need for jQuery just yet...
    {{ghost_foot}}
    -->
</body>
</html>
