{{!< default}}

{{#foreach posts}}

<div class="{{post_class}}">
    <span class="post-meta">{{date format="DD MMM YYYY"}} {{#if tags}}on {{tags}}{{/if}}</span>
    <h2><a href="{{url}}">{{{title}}}</a></h2>
</div>

{{/foreach}}

{{pagination}}
