{{!< default}}

<ul class="block-list post-list">

{{#foreach posts}}

<li class="{{post_class}}">
    <div class="post-meta">{{date format="DD MMM YYYY"}}</div>
    <h3><a href="{{url}}" class="link-brand">{{{title}}}</a></h3>
</li>

{{/foreach}}

</ul>

{{pagination}}
