{{!< default}}

<div class="the-post {{post_class}}">
    {{#post}}

    <div class="post-meta">{{date format="Do MMMM YYYY"}}</div>

    <div class="post-tags">{{#if tags}}{{tags separator=", "}}{{/if}}</div>

    <h2 class="post-title">{{{title}}}</h2>

    <hr />

    <div class="content-body">
        {{content}}
    </div>

    {{/post}}
</div>
